In [ ]:
#Bai1
n = int (input())
print(n*2)

5
10

In [ ]:
#Bai2
a = float(input())
b = float(input())
S = 3.14 * (  (a/2) ** 2 )
print(S)

2
4
3.14

In [ ]:
#Bai3
c = ord(input())
if c >= 97 :
  print(chr(c - 32))
else:
  print(chr(c + 32))

A
a

In [ ]:
#Bai4
c = ord(input())
def InRange(x : int , Leftside : int , Rightside : int) -> bool :
  return c>=Leftside and c<=Rightside
if InRange(c,65,90) or InRange(c,97,122):
  print(f"{chr(c)} la ki tu alphabet")
else:
  print(f"{chr(c)} khong phai ki tu alphabet")

@
@ khong phai ki tu alphabet

In [ ]:
#Bai5
Uppercase = ord(input())
if Uppercase == 65 :
  print('z')
else :
  print(chr(Uppercase + 31))

Z
y

In [ ]:
#Bai6
import math
def CheckTriangle(a,b,c):
  if a + b > c and a + c > b and b + c > a :
    return True
  else :
    return False
def SquareTriangle(a,b,c):
    p = (a + b + c)/2
    return math.sqrt(p * (p-a) * (p-b) * (p-c))
a = float(input())
b = float(input())
c = float(input())
if not (CheckTriangle(a,b,c) ) :
   print('Khong phai 3 canh cua tam giac')
else:
   print(f"{SquareTriangle(a,b,c):.1f}")

7
1
1
Khong phai 3 canh cua tam giac

In [ ]:
#bai7
String = input()
print(String[4] , String[8] ,sep=' ')

123456789
5 9

In [ ]:
#Bai8
Name = input('Ten chu ho: ')
LastMonth = int(input('Chi so thang truoc: '))
ThisMonth = int(input('Chi so thang nay: '))
ElectricNumber = ThisMonth - LastMonth
Price = [(50 , 1984) , (100 , 2050) ,(200 , 2380) , (300 , 2998) ,(400 ,3350) ,(401, 3460)]
TotalCost = 0
BefNums = 0
for i in range(0,len(Price)):
  if BefNums == 400 :
    TotalCost += (ElectricNumber - BefNums)*Price[i][1]
    break
  elif ElectricNumber >= Price[i][0]:
    TotalCost += Price[i][1]*(Price[i][0] - BefNums)
  else:
    TotalCost += (ElectricNumber - BefNums)*Price[i][1]
    break
  BefNums = Price[i][0]
print(f"""
Ho va ten :{Name}
Tien phai tra la :{TotalCost*1.08:.0f}
""")

Ten chu ho: Luu Gia Huy
Chi so thang truoc: 2000
Chi so thang nay: 2586

Ho va ten :Luu Gia Huy
Tien phai tra la :1855505

Bonus Excersice

In [ ]:
#1
n = int(input())
if n % 2 == 0:
  print(f'{n} la so chan')
else:
  print(f'{n} la so le')

9
9 la so le

In [ ]:
#2
n = int(input())
if n % 10 == 5:
  print('True')
else:
  print('False')

55
True

In [ ]:
#3
n = int(input())
if n % 3 == 0 and n % 5 == 0:
  print('True')
else:
  print('False')

10
False

In [ ]:
#4
YearOfBirth = int(input())
if 2025 - YearOfBirth >= 18:
  print('True')
else:
  print('False')

2007
True

In [ ]:
#5
FirstNums = int(input())
SecondNums = int(input())
if FirstNums == SecondNums:
  print(f'Hai so bang nhau la {FirstNums}')
else:
  print(f'So lon hon la {max(FirstNums,SecondNums)}')

100
100
Hai so bang nhau la 100

In [ ]:
#6 Word Or Num
Char = ord(input())
if char >=48 and char <=57:
  print(f'Day la ki tu so {char}')
else:
  print(f'Day la ki tu chu {char}')

In [ ]:
#7
YourScore = float(input())
AcademicPerformance = [(8 ,'Gioi') , (6.5 , 'Kha') ,(5 ,'Trung binh')]
HaveJudgment = False
for i in AcademicPerformance:
  if YourScore >= i[0]:
    print(f'Hoc luc cua ban la {i[1]}')
    HaveJudgment = True
    break
if  not HaveJudgment:
  print('Hoc luc cua ban la Yeu')

9.9
Hoc luc cua ban la Gioi

In [ ]:
#8
Years = int(input())
if (Years % 4 == 0 or Years % 400 == 0) and Years % 100 != 0:
  print(f'{Years} la nam nhuan')
else:
  print(f'{Years} la nam khong nhuan')

2024
2024 la nam nhuan

In [ ]:
#9
Change = [(0, 'Zero') , (1 , 'One') , (2 , 'Two') , (3 ,'Three') , (4 , 'Four'), (5 , 'Five') , (6 , 'Six') , (7 , 'Seven') , (8 , 'Eight') , (9 , 'Nine') ]
Nums = int(input())
print(Change[Nums][1])

9
Nine

In [ ]:
#10
YourTestScore = float (input())
if YourTestScore >= 4:
  print('You passed the exam')
else:
  print('You have to resit the exam')

3.9
You have to resit the exam

In [ ]:
#11
YearOfBirth = int(input())
if 2025 - YearOfBirth > 18:
  print(f'You are over 18 years old, you have reached {2025 - YearOfBirth} years old')
elif 2025 - YearOfBirth == 18:
  print(f'you have reached {2025 - YearOfBirth} years old')
else:
  print(f'you are not yet 18 years old, you are {2025 - YearOfBirth} years old')

2022
you are not yet 18 years old, you are 3 years old